.stores-card {
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
    background: #3f51b5;
}


.store-card {
    width: 80%;
    left: 10%;
    min-height: 0;
    padding: 15px;
    margin-top: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    text-align: center;
    background: #3f51b5;
    overflow: hidden;
    line-height: initial;
}

.hidden-container {
   opacity: 0.8;
}

.row {
    width: 100%;
    margin-top: 1%;
}

.row-2 {
    margin-top: 1%;
}

.row-3 {
    margin-top: -4%;
}


.storeName {
    color: white;
}
.textDisponibleTurn {
    color: white;
}

a {
    font-size: 400%;
}

.printButton {
	height: 100%;
    margin-bottom: 5%;
    width: 100%;
    margin-left: 3%;
}

.textStoreTurn {
    color: white;
}

.textUsersTurn {
    color: white;
}

.textAproxTime {
    color: white;
}

.noQueue {
    color: white;
    font-size: 200%;
}
.textQueue {
    color: white;
}

.accent {
    color: #e91e63;
}

.accentUsersTurn {
    color: #e91e63;
}


.superName {
    color: #3F51B5;
    margin-left: 2%;
}

.mdl-chip {
    background: #e91e63;
    color: white;
    bottom: 4px;
    position: relative;
}
