.stores-card {
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
    background: #3f51b5;
}

.container {
    width: 100%;
}

.storeName {
    top: 40%;
    position: relative;
    color: white;
}

.mdl-button {
    height: 100%;
    width: 100%;
    font-size: 300%;
    position: absolute;
}

.textStoreTurn {
    position: absolute;
    top: 35px;
    left: -4px;
    color: white;
}

.textUsersTurn {
    position: absolute;
    top: 35px;
    left: -22px;
    color: white;
}
.storeTurn {
    position: absolute;
    right: 0px;
    margin-top: 78px;
    margin-right: 112px;
    
}

.usersTurn {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 206px;
    margin-bottom: 86px;
    
    
}

.superName {
    color: #3F51B5;
    margin-left: 2%;
}

.usersTurn .mdl-chip {

}

.mdl-chip {
    background: #e91e63;
    color: white;
}