.stores-card {
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
    background: #3f51b5;
}

.container {
    width: 100%;
}

.storeName {
    top: 40%;
    position: relative;
    color: white;
}

.mdl-button {
    height: 100%;
    width: 100%;
    font-size: 300%;
    position: absolute;
}

.storeTurn {
    position: absolute;
    right: 0px;
    
    
    background: #e91e63;
    color: white;
}