<div>
  <h1> {{superName}} </h1>
</div>
<div class="container" *ngFor="let store of stores; let i = index">
  <div flex class="stores-card mdl-card mdl-shadow--2dp" *ngIf="i!=0">
      <a layout-align="center" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <span class="storeName">{{store.name}}</span>
      </a>
      <div class="storeTurn">
        {{store.storeTurn}}
      </div>

      <div class="usersTurn">
        {{store.usersTurn}}
      </div>
  </div>
</div>