.backgroundStore {
    width: 100%;
    height: 115%;
    top: 0%;
    position: absolute;
    background-color:  rgba(0,0,0,0.5);
    transition: all .8s ease;
}

.store-card.mdl-card {
    background-color:  rgba(63, 81, 181, 1);
    margin: auto;
    top: 0;
    transition: all .7s ease;
    animation: fadein 0.4s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.move-card {
    transform: translate(0,48%);
}

.innerStoreInfo {
    text-align: center;
}

.queue {
    font-size: 130%;
}

.time {
    font-size: 130%;
}

.accent {
    color: #e91e63;
}

.name-container{
}
.name {
    font-weight: bold;
}

.disponible-container {
    margin-top: 8%;
}

.actual-container {
    margin-top: 3%;
}

.time-container {
    margin-top: 3%;
}

.confirmation-container {
    margin-top: 4%;
}

p {
    color: white;
}

.turn-mdl-button {
    left: 45%;
}

.row {
    top: 12px;
    position: relative;
}





