<div class="store-card mdl-card mdl-shadow--2dp">
    <div class="innerStore">
        <div class="innerStoreInfo">
            <div class="name-container">
                <p class="name" >{{store.name}} </p>
            </div>

            <div class="disponible-container">
                <p class="disponible" > Torn Disponible: {{store.usersTurn}} </p>
            </div>

            <div class="actual-container">
                <p class="actual" > Torn Actual: {{store.storeTurn}} </p>
            </div>

            <div class="time-container">
                <p class="time" > Temps aproximat: {{store.aproxTime}} </p>
            </div>

            <div class="confirmation-container">
                <p class="confirmation" > Vol continuar demanant torn? </p>
            </div>

            <div class="response-container">
                <button class="mdl-button mdl-js-button mdl-button--accent"> No </button>
                <button class="mdl-button mdl-js-button mdl-button--accent"> Si </button>
            </div>
            <!--<button class="turn-mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">turned_in</i>
            </button>-->
        </div>
    </div>
</div>